@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Supermercados Peruanos</h1>
    <p class="lead">Es una cadena de supermercados del Perú, siendo una de las pocas con capital 100% peruano. </p>
    <p>Su presencia en el mercado se remonta al año 2003, cuando el consorcio formado por el Banco Interbank, Interseguro Compañía de seguros de Vida S.A y Compass Capital Partners Corp., compran la cadena de Supermercados Santa Isabel, comenzando a operar en 1 de marzo del 2004.</p>
    <p><a href="http://www.supermercadosperuanos.com.pe/web/qsomos-grupo" class="btn btn-primary btn-lg">Más Información</a></p>
</div>

