<!-- Modal -->
<div class="modal fade" id="modal-editar" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actualizar de Cliente</h4>
            </div>
            <div class="modal-body">
                <b> <p id="lblMensajeAfiliacion"></p></b>
                <div id="msjs">
                    <b>
                        Número de Tarjeta:
                    </b><p id="lblNumeroTarjeta"></p>
                    <b> Tipo Tarjeta: </b><p id="lblTipo"></p>
                    <button id="btn-editar" class="btn btn-default col-md-12" data-toggle="modal" data-target="#modal-editar" data-remote="false">
                        Actualizar
                    </button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>