<!-- Modal -->
<div class="modal fade" id="modal-afiliar" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Afiliación de Tarjeta OH</h4>
            </div>
            <div class="modal-body">
                <p id="lblMensajeAfiliacion"></p>
                <b> Número de Tarjeta: </b><p id="lblNumeroTarjeta"></p>
                <b> Tipo Tarjeta: </b><p id="lblTipo"></p>
                <button id="btnRegistrarAfiliacion" class="btn btn-default col-md-12" data-toggle="modal" data-target="#modal-afiliar" data-remote="false">
                    Registrar Afiliación
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
