body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#afiliar-tarjeta-oh {
    padding-top: 20px;
}

.subtitulos {
    font-weight: bold;
    color: #0B2625;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    border-radius: 5px;
    background-color: lightblue;
}

.secciones-afiliar {
    height: 300px
}

.secciones-afiliar-2 {
    height: 250px
}

.mensaje-aprobado {
    background: lightgreen;
    color: #0B2625;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .secciones-afiliar {
        height: auto
    }

    .secciones-afiliar-2 {
        height: auto
    }
}

.modal-dialog-clientes {
    right: auto;
    left: 50%;
    width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
}