
@{
    ViewBag.Title = "FiltroTemplate";
}

<div class="well">
    <h5 class="subtitulos left"> <span class="glyphicon glyphicon-th-list"></span> Categorías  </h5>    
    <ol id="lista-categoria" class="selectable"></ol>    
</div>

<div class="well">
    <h5 class="subtitulos left"><span class="glyphicon glyphicon-th-list"></span> Puntos </h5>
    <ol id="lista-puntos" class="selectable"></ol>
</div>

