
@{
    ViewBag.Title = "HeaderTamplate";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


<div class="container">
    <div class="row">
            <div class="col-md-6">
                <select id="select-orden" class="selectpicker show-tick" data-style="btn-primary">
                    <option value="1">Ordenamiento</option>
                    <option value="1">Ascendente</option>
                    <option value="2">Descendente</option>
                </select>
            </div>
            <div class="col-md-6">
                <a id="btnCarritoCanje" class="btn btn-info btn-lg" data-badge="" style="float: right !important">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </div>
    </div>
</div>
