@{
    ViewBag.Title = "Ofertas Personalizadas";
}

<div>
    @Html.Partial("~/Views/Catalogo/HeaderTemplate.cshtml")
</div>
<div>
    @Html.Partial("~/Views/Catalogo/ProductosTemplate.cshtml")
</div>