<!-- Modal -->
<div class="modal fade" id="modal-producto" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Producto</h4>
                </div>
                <div class="modal-body">
                   
                    <div class="col-md-6">
                        <img id="imgImagenProducto" height="200" width="200"></img>
                        <p style="font-weight:bold; padding:10px">Descripción: </p>
                        <p id="lblDescripcionProducto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>

                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-6" for="txtPuntos">Puntos:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="txtPuntos" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6" for="txtStock">Stock:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="txtStock" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="btnAgregar" class="btn btn-info col-md-12" onclick="_agregarProducto()">
                                    Agregar al Carrito
                                </button>
                            </div>
                            <div class="form-group">
                                <p style="font-weight:bold; padding:10px">Condiciones: </p>
                                <p id="lblCondiciones">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                            </div>
                        </div>
                    </div>

                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
