
@{
    ViewBag.Title = "ProductosTemplate";
}.
<div id="gridview-productos" class="container">
</div>
<div class="row">
    <div id="pagination" class="pagination col-md-4">
    </div>
    <div id="total-pagination" class="col-md-8"></div>
</div>
